<!-- start custom head snippets -->

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6469211032618440"
    crossorigin="anonymous"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EEVT7MW5MC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EEVT7MW5MC');
</script>

<script src="https://fbs.partners/banner/16877ddb93aa3967ed413ac6c4c849e9c4131f50a597b2e1b5535b6deeb5172a/8007/script.js?ibp=12923725" id="16877ddb93aa3967ed413ac6c4c849e9c4131f50a597b2e1b5535b6deeb5172a" async></script>


<!-- end custom head snippets -->
